<h1>Cloudy API</h1>
<h2>Cloudy Functions</h2>
<div class="function-index">
{% for function in api_functions %}
    <a href="#{{ function.name }}">{{ function.name }}</a>
{% endfor %}
</div>

<h2>Cloudy Test Functions</h2>
The following functions available with: <code>source
"$CLOUDY_ROOT/inc/cloudy.testing.sh"</code>
<div class="function-index">
{% for function in test_functions %}
    <a href="#{{ function.name }}">{{ function.name }}</a>
{% endfor %}
</div>

<h2>Functions In Depth By Name</h2>
<div class="function-list">
{% for function in functions %}
    <a name="{{ function.name }}"></a>
    <h2>{{ function.name }}()</h2>
    <p class="summary">{{ function.summary }}</p>
    
    {% if function.args %}
      Arguments: <ul class="function-list__arguments">
      {% for name, description in function.args %}
        <li>{{ name }}: {{ description }}</li>
      {% endfor %}
      {% if function.options %}
        </ul>Options: <ul class="function-list__options">
        {% for name, description in function.options %}
          <li>{{ name }}: {{ description }}</li>
        {% endfor %}
      {% endif %}
      {% if function.return %}
        </ul><ul class="function-list__return"><li>{{ function.return }}</li>
      {% endif %}
      </ul>
    {% endif %}
    
    {% if function.description %}
    <pre><code>{{ function.description|nl2br }}</code></pre>
{% endif %}

{% endfor %}
</div>
